# Aplicación
APP_DOMAIN=staging.example.internal
APP_PORT=8088

# Red Docker
DOCKER_NETWORK_SUBNET=172.23.0.0/16
DOCKER_NETWORK_GATEWAY=172.23.0.1

# PostgreSQL
POSTGRES_CONNECTION_HOST=/var/run/postgresql
POSTGRES_CONNECTION_PORT=5432
POSTGRES_CONNECTION_USER=postgres
POSTGRES_CONNECTION_PASSWORD=change-me

# MariaDB
MARIADB_CONNECTION_HOST=127.0.0.1
MARIADB_CONNECTION_PORT=3306
MARIADB_CONNECTION_PROTOCOL=SOCKET
MARIADB_CONNECTION_SOCKET=/run/mysqld/mysqld.sock
MARIADB_CONNECTION_USER=root
MARIADB_LOGIN_PASSWORD=change-me
MARIADB_ADMIN_USER=admin
MARIADB_ADMIN_HOST=%
MARIADB_ADMIN_PASSWORD=change-me
